@-webkit-keyframes reed {
  0% {
    transform: translateY(-15%);
    transform: rotate(-10deg);
  }
  50% {
    transform: translateY(0) rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes reed {
  0% {
    transform: translateY(-15%);
    transform: rotate(-10deg);
  }
  50% {
    transform: translateY(0) rotate(15deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0);
  }
}
h1 {
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 25px;
}
@media (min-width: 576px) {
  h1 {
    font-size: 73px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: "Gilroy-Regular";
  color: #0493A3;
  font-size: 22px;
}
@media (min-width: 576px) {
  h2 {
    font-size: 45px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

p, span {
  font-family: "Gilroy-Medium";
  color: #27226B;
  font-size: 14px;
  font-weight: 100;
}
@media (min-width: 576px) {
  p, span {
    font-size: 23px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  p, span {
    font-size: 19px;
  }
}

a {
  font-family: "Gilroy-Light";
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  opacity: 0.9;
}
@media (min-width: 576px) {
  a {
    font-size: 25px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  a {
    font-size: 19px;
  }
}
a:hover {
  color: #fff;
  opacity: 1;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.my-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 14vh;
  position: absolute;
  width: 100%;
  padding: 20px;
  z-index: 2;
}
.my-header .logo {
  width: 35%;
}
.my-header .my-nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  -webkit-clip-path: circle(30px at calc(100% - 65px) 65px);
          clip-path: circle(30px at calc(100% - 65px) 65px);
  background-color: #27226B;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 400ms ease-in;
  visibility: hidden;
  opacity: 0;
}
.my-header .my-nav a {
  transition: 400ms ease-in;
  transform: translateY(100%);
  opacity: 0;
}
.my-header .my-nav.open {
  visibility: visible;
  opacity: 1;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}
.my-header .my-nav.open a {
  transition-delay: 0.675s;
  margin-top: 20px;
  opacity: 1;
  font-size: 35px;
  -webkit-animation: reed 1.5s linear;
          animation: reed 1.5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.my-header .menu-toggle {
  position: relative;
  z-index: 2;
  height: 50px;
  width: 50px;
  position: relative;
}
.my-header .menu-toggle span {
  width: 100%;
  height: 0.5rem;
  background-color: #0493A3;
  display: block;
  border-radius: 0.3125rem;
  transition: 400ms ease;
  cursor: pointer;
  opacity: 1;
  top: 0;
}
.my-header .menu-toggle #hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  height: 100%;
  width: 100%;
}
.my-header .menu-toggle #hamburger span {
  position: relative;
}
.my-header .menu-toggle #hamburger span:nth-child(1) {
  transition-delay: 0.5s;
}
.my-header .menu-toggle #hamburger span:nth-child(2) {
  transition-delay: 0.625s;
}
.my-header .menu-toggle #hamburger span:nth-child(3) {
  transition-delay: 0.75s;
}
.my-header .menu-toggle #cross {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
.my-header .menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 0.5rem;
  position: absolute;
  top: 0;
  left: 50%;
}
.my-header .menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  transition-delay: 0.25s;
}
.my-header .menu-toggle.open #hamburger span {
  width: 0%;
}
.my-header .menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
.my-header .menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: 0.125s;
}
.my-header .menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: 0.25s;
}
.my-header .menu-toggle.open #cross span:nth-child(1) {
  height: 100%;
  left: 45%;
  transition-delay: 0.625s;
}
.my-header .menu-toggle.open #cross span:nth-child(2) {
  width: 100%;
  top: 45%;
  transition-delay: 0.375s;
}
@media (min-width: 992px) {
  .my-header .menu-toggle {
    display: none;
  }
}
@media (min-width: 992px) {
  .my-header {
    padding: 60px;
  }
  .my-header .logo {
    width: 12%;
  }
  .my-header .my-nav {
    width: 45%;
    flex-direction: row;
    background-color: transparent;
    height: auto;
    visibility: visible;
    opacity: 1;
    position: relative;
    justify-content: space-evenly;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .my-header .my-nav a {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-header {
    padding: 17.5px 70px;
    height: 11vh;
  }
  .my-header .logo {
    width: 20%;
  }
}

.banner {
  background: url("../img/banner-bg.png") no-repeat;
  background-position: top;
  background-size: contain;
  background-color: #0493A3;
  height: 90vh;
  position: relative;
  top: -1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}
.banner .banner-inner {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  margin-top: 20px;
}
.banner a {
  padding: 10px 20px;
  background-color: #27226B;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .banner a {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .banner a {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .banner a {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .banner a {
    padding: 11.6666666667px 35px;
  }
}
.banner h2, .banner p {
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .banner {
    top: -8vh;
    height: 108vh;
    text-align: left;
    background-color: transparent;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 80px;
    margin-bottom: -20vh;
  }
  .banner a {
    background-color: #0493A3;
  }
  .banner img {
    width: 57%;
    margin: 0;
  }
  .banner .banner-inner {
    padding: 60px 35px;
    margin: 0;
    width: 38%;
    height: 100%;
    position: relative;
    top: 10%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .banner .banner-inner p {
    margin-bottom: 20px;
  }
  .banner h1 {
    margin-bottom: 130px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
    background-color: #0493A3;
    text-align: center;
    height: 65vh;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .banner a {
    background-color: #27226B;
  }
  .banner .banner-inner {
    align-items: center;
    margin: 140px 0 70px;
    width: 100%;
    height: auto;
  }
  .banner h1 {
    margin-bottom: 35px;
  }
  .banner img {
    margin-top: 0;
    width: 85%;
  }
}
@media (min-width: 1400px) {
  .banner {
    margin-bottom: -15vh;
    padding-top: 200px;
  }
  .banner .banner-inner {
    top: 0;
  }
}

.about {
  background: url("../img/Path 2.png") no-repeat;
  background-position: top;
  background-size: contain;
  padding: 100px 20px 60px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.about a {
  padding: 10px 20px;
  background-color: #27226B;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}
@media (min-width: 576px) {
  .about a {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about a {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .about a {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about a {
    padding: 11.6666666667px 35px;
  }
}
.about img {
  margin-top: 30px;
}
@media (min-width: 576px) {
  .about {
    padding: 240px 40px 40px;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
  .about h2, .about p {
    margin-bottom: 20px;
  }
  .about p {
    width: 82%;
  }
  .about img {
    width: 45%;
  }
  .about .about-inner {
    width: 50%;
    margin-top: 80px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .about {
    padding: 245px 35px 35px;
    text-align: center;
    flex-direction: column-reverse;
  }
  .about img {
    width: 60%;
    margin-top: 52.5px;
  }
  .about .about-inner {
    width: 100%;
  }
}

.services {
  background: url("../img/Path 4.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  padding: 80px 20px 20px;
}
.services .risk {
  display: none;
  position: absolute;
  right: -10%;
  bottom: 0;
}
.services .menu-btn {
  background: transparent;
  border: none;
  outline: none;
  transition: 400ms ease;
  display: flex;
  justify-content: space-between;
  color: #AFAFB1;
}
.services .menu-btn span, .services .menu-btn i {
  transition: 400ms ease;
  font-family: "Gilroy-Medium";
  color: #AFAFB1;
  font-size: 16px;
}
@media (min-width: 576px) {
  .services .menu-btn span, .services .menu-btn i {
    font-size: 28px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .services .menu-btn span, .services .menu-btn i {
    font-size: 17px;
  }
}
.services .menu-btn i {
  transition-delay: 0.15s;
}
.services .menu-btn span {
  transition-delay: 0.275s;
}
.services .menu-btn.active-btn span, .services .menu-btn.active-btn i {
  color: #0493A3;
}
.services .tab-controls {
  padding: 20px;
}
.services .tab-controls1 {
  display: none;
}
.services .menu-btn {
  padding: 10px 20px;
}
.services .tab {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  transition: 400ms linear ease-in;
}
.services .tab p {
  display: flex;
  flex-direction: column;
}
.services .tab a {
  background-color: #27226B;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
}
.services .tab.active-tab {
  position: relative;
  visibility: visible;
  opacity: 1;
}
.services hr {
  width: 100%;
  height: 4px;
  color: #27226B;
  opacity: 1;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .services {
    text-align: left;
    padding: 15% 40px;
    overflow: hidden;
  }
  .services .risk {
    display: block;
    right: -13%;
    bottom: 1%;
  }
  .services h2 {
    text-align: center;
    margin-bottom: 80px;
  }
  .services .services-inner {
    display: flex;
    justify-content: space-between;
  }
  .services .tab-controls {
    display: none;
  }
  .services .tab-controls1 {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    width: 37%;
  }
  .services .tab-controls1 button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .services .tab-controls1 button span {
    margin-left: 20px;
  }
  .services .tab-controls1 button .right-arrow {
    margin-left: auto;
  }
  .services .tab-content {
    width: 55%;
    padding: 40px 10px;
  }
  .services .tab-content a {
    margin: 0;
    margin-top: 40px;
  }
  .services hr {
    width: 4px;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .services {
    text-align: center;
    padding: 140px 35px;
    margin-top: 70px;
  }
  .services .services-inner {
    flex-direction: column;
  }
  .services .tab-controls1 {
    width: 100%;
    flex-direction: row;
  }
  .services hr {
    width: 100%;
    height: 4px;
  }
  .services .tab-content {
    width: 100%;
  }
  .services .tab-content a {
    margin: 35px auto;
  }
  .services .risk {
    width: 40%;
    right: -20%;
  }
}

.contact {
  padding: 60px 20px;
  text-align: center;
}
.contact a {
  padding: 10px 20px;
  background-color: #27226B;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .contact a {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .contact a {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .contact a {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .contact a {
    padding: 11.6666666667px 35px;
  }
}
.contact h2, .contact p, .contact a {
  margin-bottom: 20px;
}
.contact p {
  width: 90%;
}
.contact img {
  margin-top: 40px;
}
@media (min-width: 576px) {
  .contact {
    display: flex;
    text-align: left;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 160px 80px;
  }
  .contact .contact-inner {
    width: 45%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .contact {
    flex-direction: column;
    padding: 140px 35px;
    text-align: center;
  }
  .contact .contact-inner {
    width: 100%;
  }
  .contact h2, .contact p, .contact a {
    margin-bottom: 35px;
  }
  .contact img {
    margin-top: 70px;
    width: 59%;
  }
}

.reachout {
  background: url("../img/Ellipse 13.png") no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
}
.reachout .reachout-inner {
  background-color: #27226B;
  width: 100%;
  padding: 40px 10px;
}
.reachout .reachout-inner a {
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #fff;
}
@media (min-width: 576px) {
  .reachout .reachout-inner a {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .reachout .reachout-inner a {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .reachout .reachout-inner a {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .reachout .reachout-inner a {
    padding: 11.6666666667px 35px;
  }
}
.reachout .reachout-inner h2, .reachout .reachout-inner p, .reachout .reachout-inner a {
  color: #fff;
}
.reachout .reachout-inner p {
  margin-top: 20px;
}
.reachout .content {
  padding: 40px 10px 20px;
}
@media (max-width: 576px) {
  .reachout .deep {
    padding: 0;
  }
}
@media (min-width: 576px) {
  .reachout {
    background-size: contain;
    text-align: left;
    padding: 80px 40px;
    margin-bottom: 80px;
  }
  .reachout .reachout-inner {
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }
  .reachout .reachout-inner .content, .reachout .reachout-inner img {
    width: 48%;
  }
  .reachout .reachout-inner .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .reachout .reachout-inner h2, .reachout .reachout-inner p, .reachout .reachout-inner a {
    margin: 0;
  }
  .reachout .reachout-inner h2 {
    margin-bottom: 20px;
  }
  .reachout .reachout-inner a {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .reachout {
    text-align: center;
  }
  .reachout .reachout-inner {
    flex-direction: column;
    padding: 35px;
  }
  .reachout .reachout-inner .content {
    align-items: center;
  }
  .reachout .reachout-inner img {
    height: 25%;
  }
  .reachout .reachout-inner h2, .reachout .reachout-inner p, .reachout .reachout-inner a {
    margin-top: 17.5px;
  }
  .reachout .reachout-inner .content, .reachout .reachout-inner img {
    width: 100%;
  }
}

.gallery {
  padding: 40px 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
  transition: all 400ms ease-in;
}
.gallery button {
  padding: 10px 20px;
  background-color: #27226B;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  transition: 400ms ease-in;
  bottom: 0;
  z-index: 3;
  left: 29%;
}
@media (min-width: 576px) {
  .gallery button {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .gallery button {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .gallery button {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .gallery button {
    padding: 11.6666666667px 35px;
  }
}
.gallery button.view {
  bottom: 3%;
}
.gallery .context {
  margin-top: 20px;
  transition: 400ms ease-in-out;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.gallery .context img {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.gallery .context.mid-pic img {
  height: 100%;
}
.gallery .context.last {
  height: 80%;
}
.gallery .context.last img {
  height: 100%;
}
.gallery .context.gal-show {
  position: relative;
  opacity: 1;
  visibility: visible;
}
.gallery h2 {
  text-decoration: underline;
}
.gallery .overlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 80px 10px 6.6666666667px;
}
.gallery .overlay a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.gallery .overlay h2, .gallery .overlay p {
  color: #fff;
}
.gallery a {
  padding: 10px 20px;
  background-color: #0493A3;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .gallery a {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .gallery a {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .gallery a {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .gallery a {
    padding: 11.6666666667px 35px;
  }
}
.gallery .mee {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .gallery {
    padding: 0;
  }
  .gallery .mee {
    margin-bottom: 20px;
  }
  .gallery .context {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
  .gallery .context .overlay {
    padding-bottom: 40px;
  }
  .gallery .context.first {
    top: 25px;
  }
  .gallery .context.first img:nth-child(1) {
    height: 35%;
  }
  .gallery .context.first img:nth-child(2) {
    height: 55%;
  }
  .gallery .context.mid-pic {
    height: 90%;
  }
  .gallery .context.last {
    top: 25px;
    height: 85%;
  }
  .gallery .context.last img {
    height: 100%;
  }
  .gallery button {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .gallery {
    padding: 70px 35px;
  }
  .gallery .context {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    top: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .gallery .context.first {
    justify-content: space-between;
    height: auto;
  }
  .gallery .context.first img {
    margin: 0;
    width: 48%;
  }
  .gallery .context.first img:nth-child(1) {
    height: 50%;
  }
  .gallery .context.first img:nth-child(2) {
    height: 50%;
  }
  .gallery .context.mid-pic {
    top: 0;
  }
  .gallery .context.last {
    height: 100%;
    width: 100%;
    margin: 20px 0;
  }
  .gallery .context.last img {
    width: 50%;
  }
  .gallery button {
    display: block;
    left: 40%;
    bottom: 0;
  }
  .gallery button.view {
    left: 70%;
    bottom: 10%;
  }
  .gallery .mee {
    margin-right: 13%;
  }
  .gallery .overlay {
    padding: 140px 35px;
  }
}

.team {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 60px 20px;
  overflow: hidden;
}
.team h3, .team p {
  color: #fff;
}
.team .sss {
  display: none;
}
.team a {
  padding: 10px 20px;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border: 1px solid #fff;
}
@media (min-width: 576px) {
  .team a {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .team a {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .team a {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .team a {
    padding: 11.6666666667px 35px;
  }
}
.team .team-top, .team .team-bottom {
  display: flex;
  flex-direction: column;
}
.team .destiny {
  outline: #fff inset 2px;
}
.team .left {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #0493A3;
  padding: 40px 20px;
}
.team .right {
  margin-top: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-color: #27226B;
  padding: 40px 20px;
}
.team .docker {
  background-color: #27226B;
  padding: 40px 20px;
  margin: 20px 0;
}
@media (min-width: 576px) {
  .team {
    text-align: left;
    padding: 80px 40px;
  }
  .team .team-top {
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
  }
  .team .left {
    -webkit-clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 64% 0, 100% 100%, 0% 100%);
    width: 75%;
    margin-right: -10%;
    position: relative;
  }
  .team .left p {
    width: 48%;
  }
  .team .left .sss {
    width: 25%;
    position: absolute;
    bottom: 3%;
    right: 17%;
  }
  .team h3, .team p {
    margin-bottom: 20px;
  }
  .team .sss {
    display: block;
  }
  .team .right {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 110%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 110%);
    text-align: right;
    width: 55%;
    margin-left: -10%;
    position: relative;
    margin-top: 0;
  }
  .team .right p {
    width: 60%;
    margin-left: auto;
  }
  .team .team-bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  .team .docker {
    border-radius: 4px;
    width: 45%;
    text-align: center;
    border: 1px solid #fff;
    box-shadow: 0 0 0 20px #27226B;
    transform: scale(0.85);
  }
  .team .docker.right-dock {
    background-color: #0493A3;
    box-shadow: 0 0 0 20px #0493A3;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .team .my-btn {
    padding: 6.6666666667px 10px;
  }
  .team .team-top {
    flex-direction: column-reverse;
    margin-bottom: -140px;
  }
  .team .right {
    margin-left: auto;
    width: 70%;
    height: auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 110%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 110%);
  }
  .team .left {
    height: auto;
    position: relative;
    bottom: 16vh;
    -webkit-clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  }
  .team .team-bottom {
    flex-wrap: wrap;
    position: relative;
  }
  .team .team-bottom img {
    order: 2;
    width: 100%;
  }
  .team .team-bottom .docker {
    width: 48%;
  }
}

.my-footer {
  background: url("../img/Path 7.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 20px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.my-footer h2, .my-footer form {
  margin-bottom: 20px;
}
.my-footer .my-form {
  display: flex;
  flex-direction: column;
}
.my-footer .my-form input {
  padding: 10px;
  outline: none;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  transition: 400ms ease-in;
  transform: scale(0.98);
}
.my-footer .my-form input::-moz-placeholder {
  font-style: italic;
}
.my-footer .my-form input:-ms-input-placeholder {
  font-style: italic;
}
.my-footer .my-form input::placeholder {
  font-style: italic;
}
.my-footer .my-form input:active {
  transform: scale(1);
}
.my-footer .my-form button {
  padding: 10px 20px;
  background-color: #27226B;
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: "Gilroy-Regular";
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
@media (min-width: 576px) {
  .my-footer .my-form button {
    font-size: 26px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-footer .my-form button {
    font-size: 22px;
  }
}
@media (min-width: 576px) {
  .my-footer .my-form button {
    padding: 13.3333333333px 40px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-footer .my-form button {
    padding: 11.6666666667px 35px;
  }
}
.my-footer ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.my-footer li {
  margin-bottom: 10px;
}
.my-footer h4 {
  font-family: "Gilroy-Regular";
  color: #27226B;
  font-size: 16px;
}
@media (min-width: 576px) {
  .my-footer h4 {
    font-size: 24px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-footer h4 {
    font-size: 18px;
  }
}
.my-footer .my-img {
  display: none;
}
@media (min-width: 576px) {
  .my-footer {
    padding: 80px 40px;
    text-align: left;
    position: relative;
  }
  .my-footer .my-img {
    display: block;
    position: absolute;
  }
  .my-footer .my-img.top-left {
    top: 5%;
    left: 5%;
  }
  .my-footer .my-img.top-right {
    top: 5%;
    right: 5%;
  }
  .my-footer .my-img.btm-left {
    bottom: 5%;
    left: 5%;
  }
  .my-footer h2 {
    text-align: center;
    margin: 80px auto;
  }
  .my-footer .my-form {
    width: 70%;
    margin: auto;
    flex-direction: row;
  }
  .my-footer .my-form input {
    padding: 13.3333333333px 20px;
    margin: 0;
    width: 70%;
    margin-right: 20px;
    text-align: left;
  }
  .my-footer .my-form button {
    width: 20%;
  }
  .my-footer .items {
    width: 70%;
    margin: 80px auto 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .my-footer {
    padding: 70px 35px;
  }
  .my-footer .my-form {
    width: 100%;
  }
  .my-footer .my-form button {
    width: 25%;
  }
  .my-footer .my-form input {
    text-align: center;
  }
  .my-footer .my-img {
    width: 13%;
  }
  .my-footer .my-img.top-left {
    top: 10%;
  }
  .my-footer .my-img.top-right {
    top: 10%;
  }
  .my-footer .my-img.btm-left {
    bottom: 10%;
  }
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 6;
  background-color: transparent;
}

.sk-three-bounce {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85);
}

.sk-three-bounce .sk-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  background-color: #fff;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
          animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
}
.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}
.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    background-color: #fff;
  }
  40% {
    transform: scale(1);
    background-color: #8d22ff;
  }
}

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    transform: scale(0);
    background-color: #fff;
  }
  40% {
    transform: scale(1);
    background-color: #8d22ff;
  }
}/*# sourceMappingURL=style.css.map */