// Colors

$color-green:#0493A3;
$color-blue:#27226B;
$color-white:#fff;
$color-gray:#AFAFB1;
$color-black:#000;
// Fonts

$text-regular:'Gilroy-Regular';
$text-medium:'Gilroy-Medium';
$text-bold:'Gilroy-Bold';
$text-light: 'Gilroy-Light';
$text-semiBold:'Gilroy-SemiBold';
$text-ExtraBold:'Gilroy-ExtraBold';

// Mixins

@mixin text($font, $color, $sm, $md, $lg) {
    font-family: $font;
    color: $color;
    font-size: $sm;
    @media (min-width: 576px) {
        font-size: $lg;
    }
    @media (min-width:576px) and (max-width:768px) {
        font-size: $md;
    }
}


@mixin myBtn($col){
    padding: $space-sm/2 $space-sm ;
    color: $color-white;
    background-color: $col;
    outline: none;
    border: none;
    border-radius: 4px;

    @media (min-width:576px) {
        padding: $space-lg/4 $space-lg;
    }

    @media (min-width:576px) and (max-width:768px) {
        padding: $space-md/4 $space-md;
    }


}



@mixin ham {
    height: $ham-sm;
    width: $ham-sm;
    position: relative;
    span{
        width: 100%;
        height: .5rem /* 8/16 */;
        background-color: $color-green;
        display: block;
        border-radius: .3125rem /* 5/16 */;
        transition: $speed ease;
        // position: relative;
        cursor: pointer;
        opacity: 1;
        top: 0;

        
    }
    #hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        height: 100%;
        width: 100%;
        span{
            position: relative;
            &:nth-child(1){
                transition-delay: .5s;
            }
            &:nth-child(2){
                transition-delay: .625s;
            }
            &:nth-child(3){
                transition-delay: .75s;
            }
        }
    }

    #cross{
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        span{
            &:nth-child(1){
                height: 0%;
                width: 0.5rem;
                position: absolute;
                top: 0;
                left: 50%;
            }
            &:nth-child(2){
                width: 0%;
                height: .5rem;
                position: absolute;
                left: 0;
                top: 0;
                transition-delay: .25s;
            }
        }
    }


    &.open{
        #hamburger{
            span{
                width: 0%;
                &:nth-child(1){
                    transition-delay:0s;
                    }
                    &:nth-child(2){
                    transition-delay:.125s;
                    }
                    &:nth-child(3){
                    transition-delay:.25s;
                    }
            }
        }
    
        #cross{
            span{
                &:nth-child(1){
                    height: 100%;
                    left: 45%;
                    transition-delay: .625s;
                }
    
                &:nth-child(2){
                    width: 100%;
                    top: 45%;
                    transition-delay: .375s;
                }
            }
        }
    
    }


    @media (min-width:992px) {
        display: none;
    }
}


// Spacing

$space-sm:20px;
$space-md:35px;
$space-lg:40px;
$speed:400ms;
$ham-sm:50px;
$ham-lg:60px;



// Typography

h1{

    @include text(
        $text-regular,
        $color-white,
        25px,
        40px,
        73px
    );
}

h2{
    @include text(
        $text-regular,
        $color-green, 
        22px, 
        32px,
        45px);
}

p,span{
    @include text(
        $text-medium, 
        $color-blue, 
        14px, 
        19px,
        23px );
    font-weight: 100;
}

a{
    @include text(
        $text-light, 
        $color-white, 
        14px, 
        19px,
        25px );
    text-decoration: none;
    opacity: .9;
    &:hover{
        color: $color-white;
        opacity: 1;
    }
}

img{
    object-fit: contain;
}


// Header Section
.my-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    position: absolute;
    width: 100%;
    padding: $space-sm;
    z-index: 2;

    .logo{
        width: 35%;
    }

    .my-nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        transition: all $speed ease-in-out;
        clip-path: circle(30px at calc(100% - 65px) 65px);
        background-color: $color-blue;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: $speed ease-in ;
        visibility: hidden;
        opacity: 0;
        a{
            transition: $speed ease-in ;
            transform: translateY(100%);
            opacity: 0;
        }
        &.open{
            visibility: visible;
            opacity: 1;
            clip-path: circle(100%);
            a{
                transition-delay: .675s;
                margin-top: $space-sm;
                transform: translateY(0);
                opacity: 1;
                font-size: 35px;
                
            }
        }

        
    }

    .menu-toggle{
        position: relative;
        z-index: 2;
        @include ham();
    }

    @media (min-width:992px) {
        padding: $space-lg;
        .logo{
            width: 12%;
        }


        .my-nav{
    
            width: 45%;
            flex-direction: row;
            background-color: transparent;
            height: auto;
            visibility: visible;
            opacity: 1;
            position: relative;
            justify-content: space-evenly;

            a{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }


    @media (min-width:576px) and (max-width:768px) {
        padding: $space-md/2 $space-md*2;
        .logo{
            width: 20%;
        }

        
    }

}


// Header End


// banner Section

.banner{
    background: url('../img/banner-bg.png') no-repeat;
    background-position: top;
    background-size: contain;
    background-color: $color-green;
    height: 90vh;
    position: relative;
    top: -1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: $space-sm;

    .banner-inner{
        margin-top: $space-sm*6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img{
        margin-top: $space-sm;
    }

    a{
        @include myBtn($color-blue);
    }
    h2,p{
        margin-bottom: $space-sm*2;
    }


    @media (min-width:576px) {
        top: -8vh;
        height: 108vh;
        text-align: left;
        background-color: transparent;
        justify-content:center;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: $space-lg*2 ;
        margin-bottom: -10%;
        a{
            background-color: $color-green;
        }
        img{
            width: 58%;
            // margin-top: $space-lg*4.5;
            margin: 0;
        }
        .banner-inner{
            padding: $space-lg;
            margin: 0;
            width: 38%;
            height: 100%;
            position: relative;
            top: 10%;
            justify-content:flex-start;
            align-items: flex-start;

            p{
                // margin-top: auto;
                margin-bottom: $space-sm;
            }
        }
        h1{
            margin-bottom: $space-lg*3 +$space-sm/2;
            // justify-self: flex-s;
        }
    }


    @media (min-width:576px) and (max-width:768px) {
        flex-wrap: wrap;
        background-color: $color-green;
        text-align: center;
        height: 65vh;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;

        a{
            background-color: $color-blue;
        }
        // flex-direction: column;

        .banner-inner{
            align-items: center;
            margin: $space-md*4 0 $space-md*2;
            width: 100%;
            height: auto;
        }
        h1{
            margin-bottom: $space-md;
        }
        img{
            margin-top: 0;
            width: 85%;
        }
    }

}

// Banner End


// About Section

.about{
    background: url('../img/Path 2.png') no-repeat;
    background-position: top;
    background-size: contain;
    padding: $space-sm*5 $space-sm $space-sm;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;

    a{
        @include myBtn($color-blue);
        color: $color-white;
    }

    img{
        margin-top: $space-sm*3;
    }


    @media (min-width:576px) {
        padding: $space-lg*5 $space-lg $space-lg;
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
        h2,p{
            margin-bottom: $space-lg/2;
        }
        img{
            width: 45%;
        }
        .about-inner{
            width: 50%;
            margin-top: $space-lg*2;
        }
    }

    @media (min-width:576px) and (max-width:768px) {
        padding: $space-md*6 $space-md $space-md;
        text-align: center;
        flex-direction: column-reverse;
        img{
            width: 60%;
        }
        .about-inner{
            width: 100%;
        }
    }
}

// About End


// Services Section

.services{
    background: url('../img/Path 4.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
    padding: $space-sm*4 $space-sm $space-sm;

    .risk{
        display: none;
        position: absolute;
        right:-10%;
        bottom: 0;
    }

    .menu-btn{
        background: transparent;
        border: none;
        outline: none;
        transition: $speed ease;
        display: flex;
        justify-content: space-between;
        color: $color-gray;
        span,i{
            transition: $speed ease;
            @include text(
                $text-medium, 
                $color-gray, 
                16px, 
                17px,
                28px );
        }

        i{
            transition-delay: .15s;
        }
        span{
            transition-delay: .275s;
        }
        &.active-btn{
            span,i{
                color: $color-green; 
            }
        }
    }


    .tab-controls{
        padding: $space-sm;

    }

    .tab-controls1{
        display: none;
    }


    .menu-btn{
        padding: $space-sm/2 $space-sm;
        

    }




    .tab{
        visibility: hidden;
        position: absolute;
        opacity: 0;
        transition: $speed linear ease-in;
        p{
            display: flex;
            flex-direction: column;
        }

        a{
            background-color: $color-blue;
            padding: $space-sm/2 $space-sm;
            width: fit-content;
            margin:$space-sm/2 auto;

        }

        &.active-tab{
            position: relative;
            visibility: visible;
            opacity: 1;
        }
    }

    hr{
        width: 100%;
        height: 4px;
        color: $color-blue;
        opacity: 1;
        margin-bottom: $space-sm*2;
    }


    @media (min-width:576px) {
        text-align: left;
        padding: 15% $space-lg;
        overflow: hidden;

        .risk{
            display: block;
        }
        h2{
            text-align: center;
            margin-bottom: $space-lg*2;
        }
        .services-inner{
            display: flex;
            justify-content: space-between;

        }
        .tab-controls{
            display: none;
        }

        .tab-controls1{
            display: flex;
            padding-top: $space-lg;
            flex-direction: column;
            // justify-content: space-between;
            width: 37%;
            button{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin-bottom: $space-lg;
                span{
                    margin-left: $space-lg/2;
                }
                .right-arrow{
                    margin-left: auto;
                }
            }
        }
        .tab-content{
            width:55%;
            padding: $space-lg $space-lg/4;

            a{
                margin: 0;
                margin-top: $space-lg;
            }
        }
        hr{
            width: 4px;
            height: auto;
        }
    }


    @media (min-width:576px) and (max-width:768px) {
        .tab-controls1{
            width: 35%;
        }
        .tab-content{
            width: 60%;
        }

        .risk{
            width: 40%;
            right: -20%;
        }
    }

}

// Services End

// Contact Section

.contact{
    padding: $space-sm*3 $space-sm;
    text-align: center;

    a{
        @include myBtn($color-blue);
    }

    h2,p,a{
        margin-bottom: $space-sm;
    }
    img{
        margin-top: $space-sm*2;
    }


    @media (min-width:576px) {
        display: flex;
        text-align: left;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $space-lg*4 $space-lg*2;

        .contact-inner{
            width: 45%;
        }


        h2,p,a{
            // margin-bottom: $space-lg;
        }
    }


    @media (min-width:576px) and (max-width:768px) {
        flex-direction: column;
        padding: $space-md*2 $space-md;
        text-align: center;
        .contact-inner{
            width: 100%;
        }


        h2,p,a{
            margin-bottom: $space-md;
        }

        img{
            margin-top: $space-md*2;
            width: 59%;
        }
    }
}
// Contact End


// Reachout Section

.reachout{
    background: url('../img/Ellipse 13.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: $space-sm*5 0;

    

    .reachout-inner{
        background-color: $color-blue;
        width: 100%;
        padding: $space-sm*2 $space-sm/2;

        a{
            @include myBtn(transparent);
            border: 1px solid $color-white;
        }
        

        h2,p,a{
            color: $color-white;
            // margin-top: $ham-sm;
        }
        p{
            margin-top: $space-sm;
        }

    }

    .content{
        padding: $space-sm*2 $space-sm/2 $space-sm;
    }

    @media (max-width:576px) {
        .deep{
            padding: 0;
        }
    }


    @media (min-width:576px) {
        background-size: contain;
        text-align: left;
        padding: $space-lg*2 $space-lg;

        .reachout-inner{
            padding: $space-lg;
            display: flex;
            justify-content: space-between;
            .content,img{
                width: 48%;
            }

            .content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            h2,p,a{
                margin: 0;
            }
            a{
                width: fit-content;
            }
        }

        
    }


    @media (min-width:576px) and (max-width:768px) {
        text-align: center;
        .reachout-inner{
            flex-direction: column;
            padding: $space-md;
            .content{
                align-items: center;
            }
            img{
                height: 25%;
            }

            h2,p,a{
                margin-top: $space-md/2;
            }

            .content,img{
                width: 100%;
            }

        }

        
    }
}

// Reachout End




// Gallery Section

.gallery{
    padding: $space-sm*2 $space-sm;
    overflow: hidden;
    text-align: center;
    position: relative;
    transition: all $speed ease-in;
    button{
        @include myBtn($color-blue);
        position:absolute;
        bottom: 0;
        z-index: 3;
        left: 29%;
    }
    .context{
        margin-top: $space-sm;
        transition: $speed ease-in-out;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        

        img{
            width: 100%;
            height: 30vh;
            object-fit: cover;
            border-radius: 5%;
        }

        &.mid-pic{
            img{
                height: 100%;
            }
        }

        &.last{
            height: 80%;
            img{
                height: 100%;
            }
        }


        &.gal-show{
            position: relative;
            opacity: 1;
            visibility: visible;
        }
      
    }
    h2{
        text-decoration: underline;
    }

    .overlay{
        position: absolute;
        border-radius: 5%;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $color-black, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: $space-sm*4 $space-sm/2 $space-sm/3;
        a{
            width: fit-content;
            margin: 0 auto;
        }
        h2,p{
            color: $color-white;
        }
        
    }
    

    a{
        @include myBtn($color-green);
    }

    .mee{
            margin-bottom: $space-sm;
        }


    @media (min-width:576px) {
        .mee{
            margin-bottom: $space-lg/2;
        }

        .context{
            // top: 10vh;
            position: relative;
            opacity: 1;
            visibility: visible;


            .overlay{
                padding-bottom: $space-lg
            }

            &.first{

                img{
                    &:nth-child(1){
                        height: 20%;
                    }
                    &:nth-child(2){
                        height: 50%;
                    }
                }
            }

            &.mid-pic{
                top: $space-sm;
                // height: 100%;
            }

            &.last{
                height: 85%;
                img{
                    height: 100%;
                }
            }
        }

        button{
            display: none;
        }
    }


    @media (min-width:576px) and (max-width:768px) {
        .context{
            display: flex;
            justify-content: space-between;
            // padding: $space-md 0;
            height: 70vh;
            top: 0;

            &.first{
                justify-content: space-evenly;
                height: 100%;
                img{
                    width: 45%;
                    &:nth-child(1){
                        height: 100%;
                    }
                    &:nth-child(2){
                        height: 100%;
                    }
                }
            }
            
            &.last{
                height: 36vh;
                width: 50%;
                margin: $space-md auto 0;
            }
        }

        .mee{
            margin-right: 13%;
        }


        .overlay{
            padding: $space-md*4 $space-md;
        }
    }

}

// Gallery End


// Team Section

.team{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: $space-sm;
    overflow: hidden;
    h3,p{
        color: $color-white;
    }

    .sss{
        display: none;
    }

    a{
        @include myBtn(transparent);
        border: 1px solid $color-white;
    }

    .team-top ,.team-bottom{
        display: flex;
        flex-direction: column;

        
    }

    .destiny{
        outline: $color-white inset 2px;
    }

    .left{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background-color: $color-green;
        padding: $space-sm*2 $space-sm;
    }

    .right{
        margin-top: $space-sm;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background-color: $color-blue;
        padding: $space-sm*2 $space-sm;
    }

    .docker{
        background-color: $color-blue;
        padding: $space-sm*2 $space-sm;
        margin: $space-sm 0;
    }



    @media (min-width:576px) {
        text-align: left;
        padding: $space-lg*2 $space-lg;
        .team-top{
            flex-direction: row;
            justify-content: center;
            position: relative;
            margin-bottom: $space-lg;

        }

        .left{
            clip-path: polygon(0 0,64% 0, 100% 100%, 0% 100%);
            width: 75%;
            margin-right: -10%;
            // height: 40vh;
            // position: absolute;
            position: relative;
            // left: 5%;
            // padding-right: $space-lg*6;
            p{
                width: 48%;
            }

            .sss{
                width: 25%;
                position: absolute;
                bottom: 3%;
                right: 17%;
            }
        }
        h3,p{
            margin-bottom: $space-lg/2;
        }

        .sss{
            display: block;
        }
        .right{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 110%);
            text-align: right;
            width: 55%;
            margin-left: -10%;
            // height: 40vh;
            position: relative;
            // right: 5%;
            margin-top: 0;
            // padding-left: $space-lg*4;
            p{
                width: 60%;
                margin-left: auto;
            }
        }


        .team-bottom{
            flex-direction: row;
            justify-content: space-between;
        }

        .docker{
            border-radius: 5px;
            width: 30%;
            text-align: center;
            border: 1px solid $color-white;
            outline: $color-blue solid 20px;
            transform: scale(.85);

            &.right-dock{
                background-color: $color-green;
                outline-color: $color-green;
            }
        }
    }


    @media (min-width:576px) and (max-width:768px) {


        
        .my-btn{
            padding: $space-sm/3 $ham-sm/5;
        }

        .team-top{
            flex-direction: column-reverse;
            margin-bottom: -$space-md*4;
        }
        .right{
            margin-left: auto;
            width: 70%;
            height: auto;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 110%);
        }

        .left{
            height: auto;
            position: relative;
            bottom: 16vh;
            clip-path: polygon(0 0,50% 0, 100% 100%, 0% 100%);
        }
        .team-bottom{
            // flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            img{
                order: 2;
                width: 100%;
            }

            .docker{
                width: 48%;
            }
        }
    }


}

// Team End



// Footer Section

.my-footer{
    background: url('../img/Path 7.png') no-repeat;
    background-size: cover;
    background-position: center;
    padding: $space-sm*4 $space-sm $space-sm;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    h2,form{
        margin-bottom: $space-sm;
    }

    .my-form{
        display: flex;
        flex-direction: column;
        input{
            padding: $space-sm/2;
            outline: none;
            border: none;
            margin-bottom: $space-sm;
            text-align: center;
            transition: $speed ease-in;
            transform: scale(.98);
            &::placeholder{
                font-style: italic;
            }
            &:active{
                transform: scale(1)
            }
        }
        button{
            @include myBtn($color-blue);
        }
    }
    ul{
        list-style: none;
        padding: 0;
        margin-top: $space-sm;
    }
    li{
        margin-bottom: $space-sm/2;
    }
    h4{
        @include text($text-regular,$color-blue ,16px ,18px ,24px );
    }
    .my-img{
        display: none;
    }



    @media (min-width:576px) {
        padding: $space-lg*2 $space-lg;
        text-align: left;
        position: relative;

        .my-img{
            display: block;
            position: absolute;

            &.top-left{
                top: 5%;
                left: 5%;
            }
            &.top-right{
                top: 5%;
                right: 5%;
            }
            &.btm-left{
                bottom: 5%;
                left: 5%;
            }
        }
        h2{
            text-align: center;
            margin: $space-lg*2 auto;
        }
        // ul{
        //     width: fit-content;
        //     margin: auto;
        // }

       

        .my-form{
            width: 65%;
            margin: auto;
            flex-direction: row;
            // justify-content: space-between;


            input{
                padding: $space-lg/3 $space-lg/2;
                margin: 0;
                width: 70%;
                margin-right: $space-lg/2;
                text-align: left;
                
            }

            button{
                width: 20%;
            }
        }


        .items{
            width: 70%;
            margin:$space-lg*2 auto 0;
        }
    }


    @media (min-width:576px) and (max-width:768px) {
        // padding-bottom: $space-lg*2;
        .my-form{
            width: 100%;
            button{
                width: 25%;
            }
            input{
                text-align:center;
            }
        }
        
    }
}

// Footer End




// Preloader
#preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 6;
    background-color: transparent;
}

.sk-three-bounce {
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba($color: $color-black, $alpha: 0.85);
}

.sk-three-bounce {
    .sk-child {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: inline-block;
        background-color: $color-white;
        animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    }
    .sk-bounce1 {
        animation-delay: -0.32s;
    }
    .sk-bounce2 {
        animation-delay: -0.16s;
    }
}

@keyframes sk-three-bounce {
    0%,
    80%,
    100% {
        transform: scale(0);
        background-color: $color-white;
    }
    40% {
        transform: scale(1);
        background-color: #8d22ff;
    }
}